@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome @Model.FirstName @Model.LastName</h1>
<h1>Monthly Account Balance @Model.MonthlyAccountBalance Pick Up day @Model.PickUpDay</h1>
@*display customers balance and selected pick up day*@
<

<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
